a,
:hover, 
:link, 
:visited,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
  color: #D6D6D6;
  font-family: robotoregular;
  font-style: normal;
  margin: 0px;
  text-decoration: none;
}

body {
    background-color: #463B3B;
    margin: 0px;
}

h1 {
    font-size: 108px;
}


me-app {
    height: 100%;
    position: absolute;
    width: 100%;
}

.center-ref-center {
  left: -25%;
  text-align: center;
  width: 50%;
}

.center-ref {
    bottom: 0px;
    float: right;
    height: 50%;
    position: absolute;
    right: 0px;
    width: 50%;
}

.center-ref-left{
  left: -100%;
}

.center-ref-left,
.left {
  float: left;
  margin-left: 32px;
  text-align: left;
}

.center-ref-right,
.right {
  float: right;
  right: 0px;
  margin-right: 32px;
  text-align: right;
}

#subtitles {
    height: 64px;
    left: -326px;
    position: relative;
    top: -187px;
    width: 652px;
}

#subtitles > h2 {
    font-size: 33px;
    position: absolute;
}

#footer .center {
    position: absolute;
    z-index: -1;
}
#footer h3 {
    font-size: 20px;
    position: relative;
    top: 0px;
    width: 200px;
}
#footer img {
    bottom: -2px;
    height: 20px;
    position: relative;
    right: 0px;
}

#footer .left {
    position: relative;
    width: 233px;
}
#footer {
    bottom: 32px;
    height: 32px;
    margin-bottom: 19px;
    position: absolute;
    /* right: 200px; */
    width: 100%;
}

#title {
  /* display: block; */
  /* height: 234px; */
  left: -100%;
  position: relative;
  text-align: center;
  top: -216px;
  width: 200%;
}

#footer #center-footer {
    left: -100px;
    position: absolute;
    width: 200px;
}