.center, :host {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }

.fill {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

a,
a:link,
a:visited,
a:active {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif; }

p {
  margin: 6px 16px 16px 18px; }

@media not print {
  .print-only {
    display: none; } }
@media print {
  .no-print {
    display: none; } }
paper-shadow {
  z-index: -1; }

:host {
  clear: both;
  max-width: 744px;
  width: 100%; }

#card {
  background: #FFFFFF;
  border-radius: 2px;
  height: 100%;
  margin: 24px 12px;
  min-height: 128px;
  position: relative; }

#content {
  font-family: robotoregular, sans-serif;
  padding: 0.1px 0;
  /* Hack to get around weird browser behavior with margins */
  text-align: left; }

::content a,
::content a:visited,
::content h2,
::content h3,
::content h4,
::content li,
::content p {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif;
  line-height: 125%;
  word-wrap: break-word; }

::content a,
::content a:visited {
  text-decoration: underline; }

::content h1 {
  color: #D50000;
  font-size: 32px;
  margin: 16px 16px 12px 12px; }

::content h2 {
  font-size: 22px;
  margin: 12px 16px 8px 16px; }

::content h3 {
  font-size: 18px;
  margin: 8px 16px 8px 16px; }

::content h4 {
  margin: 8px 16px 4px 16px; }

::content li {
  margin: 6px 16px 0 0; }

::content p {
  margin: 6px 16px 16px 18px; }

::content ul {
  margin: 8px 16px 16px 0;
  padding: 0 0 0 42px; }

::content li > p {
  margin: 6px 16px 0 0; }

@media (max-width: 758px) {
  #card {
    margin: 12px; } }
/** Printer friendly overrides **/
@media print {
  hr {
    margin: 4px 0; }

  :host {
    max-width: 612pt; }

  #card {
    margin-bottom: 0;
    margin-top: 0; }

  ::content h1 {
    font-size: 24px;
    margin: 8px 16px 8px 12px; }

  ::content h2 {
    font-size: 18px;
    margin: 8px 16px 4px 16px; }

  ::content h3 {
    font-size: 16px;
    margin: 6px 16px 4px 16px; }

  ::content h4 {
    margin: 4px 16px 4px 16px; }

  ::content li {
    margin: 4px 16px 0 0; }

  ::content p {
    margin: 4px 16px 4px 18px; }

  ::content ul {
    margin: 4px 16px 4px 0;
    padding: 0 0 0 42px; }

  ::content li > p {
    margin: 4px 16px 0 0; } }
