.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 50%; }

a,
a:link,
a:visited,
a:active {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif; }

:host {
  background: #FFFFFF;
  border-radius: 2px;
  display: block;
  font-family: robotoregular, sans-serif;
  margin: 12px auto;
  position: relative;
  width: 100%;
  max-width: 712px; }

@media (max-width: 752px) {
  :host {
    margin: 12px;
    width: auto; } }
#content {
  height: 100%;
  min-height: 128px;
  padding: 16px; }

::content a,
::content a:visited,
::content h2,
::content h3,
::content h4,
::content li,
::content p {
  color: rgba(0, 0, 0, 0.87);
  font-family: robotoregular, sans-serif;
  line-height: 125%; }

::content a,
::content a:visited {
  text-decoration: underline; }

::content h1 {
  color: #D50000;
  margin: 0 0 16px 0; }

::content h2 {
  margin: 0 0 12px 0; }

::content h3 {
  margin: 0 0 8px 0; }

::content h4 {
  margin: 0 0 4px 0; }

::content p {
  margin: 8px 0 16px 0; }

::content ul {
  margin: 0;
  padding: 0 0 0 24px; }
