@import "packages/about_me/theme";

.chart {
  margin-left: 10px;
  margin-right: 10px;
}

@media print {
  .major-skill {
    width: 100%;
  }

  #major-skills h2 {
    margin-bottom: 0;
    margin-right: 12px;
    margin-top: 0;
  }

  #skills-printed li {
    float: left;
    list-style: disc inside;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 126px;
    text-align: left;
  }

  #skills-printed ul {
    margin: 0;
    padding: 0;
  }

  #tools li {
    width: auto;
  }

  #i1y > h2 {
    text-align: right;
  }

  #i1y > ul {
    margin-right: 16px;
  }

  #i3y > h2 {
    text-align: left;
  }

  #i3y > ul {
    margin-left: 16px;
  }

  #major-skills {
    display: flex;
    margin-top: 0;
  }

  #skills-printed {
    text-align: center;
  }
}
