h1 {
  margin: 0px;
  text-decoration: none;
}

.center {
  margin: 0 auto;
  position: relative;
}

.panel-expanded {
  height: 100%;
}

.panel-collapsed {
  height: 36px;
}

#name {  
  color: rgba(255, 255, 255, 0.87);
  display: block;
  font-family: robotoregular;
  font-size: 108px;
  font-style: normal;
  top: 24px;
  width: 654px;
}

#panel {
  background-color: #e51c23;    
  margin: 0px;
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
