@import "packages/about_me/theme";

:host {
  background: #FFFFFF;
  border-radius: 2px;
  display: block;
  font-family: robotoregular, sans-serif;
  margin: 12px auto;
  position: relative;
  width: 100%;
  max-width: 712px;
}

@media (max-width: 752px) {
  :host {
    margin: 12px;
    width: auto;
  }
}

#content {
  height: 100%;
  min-height: 192px;
  padding: 16px;
}

::content a,
::content a:visited,
::content h2,
::content h3,
::content h4,
::content li,
::content p{
  color: $text-color;
  line-height: 125%;
}

::content a,
::content a:visited {
  text-decoration: underline;
}

::content h1 {
  color: $accent-color;
  margin: 0 0 16px 0;
}

::content h2 {
  margin: 0 0 12px 0;
}

::content h3 {
  margin: 0 0 8px 0;
}

::content h4 {
  margin: 0 0 4px 0;
}

::content p {
  margin: 0 0 16px 0;
}

::content ul {
  margin: 0;
  padding: 0 0 0 24px;
}