@import "packages/about_me/theme";

:host {
  @extend .center;
  clear: both;
  max-width: 744px;
  width: 100%;
}

#card {
  background: #FFFFFF;
  border-radius: 2px;
  height: 100%;
  margin: 24px 12px;
  min-height: 128px;
  position: relative;
}

#content {
  font-family: robotoregular, sans-serif;
  margin-top: 16px;
  padding: 16px 0; /* Hack to get around weird browser + Polymer behavior with margins */
  page-break-inside: avoid;
  text-align: left;
}

::content a,
::content a:visited,
::content h2,
::content h3,
::content h4,
::content li,
::content p{
  @include standard-text-format;
  line-height: 125%;
  word-wrap: break-word;
}

::content a,
::content a:visited {
  text-decoration: underline;
}

h1,
::content h1 {
  color: $accent-color;
  font-size: 32px;
  margin: 0 16px 8px 12px;
}

::content h2 {
  font-size: 22px;
  margin: 16px 16px 0 16px;
}

::content h3 {
  font-size: 18px;
  margin: 8px 16px 0 16px;
}

::content h4 {
  margin: 8px 16px 0 16px;
}

::content li {
  margin: 6px 16px 0 0;
}

::content p {
  @include p;
}

::content ul {
  margin: 8px 16px 16px 0;
  padding: 0 0 0 42px;
}

::content li > p {
  margin: 6px 16px 0 0;
}

@media (max-width: 758px) {
  #card {
    margin: 12px;
  }
}

/** Printer friendly overrides **/
@media print {
  hr {
    margin: 0 0 2px 0;
  }

  :host {
    max-width: 72pt * 8.5/*in*/;
  }

  #card {
    margin-bottom: 0;
    margin-top: 0;
    min-height: initial;
  }

  #content {
    margin-top: 0;
    padding: 4px 0;
  }

  ::content h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  ::content h2 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 2px;
  }

  ::content h3 {
    font-size: 15px;
    font-weight: normal;
    margin-top: 0;
  }

  ::content h4 {
    margin-top: 2px;
  }

  ::content li {
    font-size: 14px;
    margin: 4px 0 0 0;
  }

  ::content p {
    font-size: 14px;
    margin-top: 4px;
  }

  ::content ul {
    margin: 0 16px 6px 0;
    padding: 0 0 0 42px;
  }

  ::content li > p {
    margin: 4px 0 0 0;
  }
}
