@import "packages/about_me/theme";

paper-shadow {
  z-index: -1;
}

:host {
  @extend .center;
  clear: both;
  max-width: 744px;
  width: 100%;
}

#card {
  background: #FFFFFF;
  border-radius: 2px;
  height: 100%;
  margin: 24px 12px;
  min-height: 128px;
  position: relative;
}

#content {
  font-family: robotoregular, sans-serif;
  padding: 0.1px 0; /* Hack to get around weird browser behavior with margins */
  text-align: left;
}

::content a,
::content a:visited,
::content h2,
::content h3,
::content h4,
::content li,
::content p{
  @include standard-text-format;
  line-height: 125%;
  word-wrap: break-word;
}

::content a,
::content a:visited {
  text-decoration: underline;
}

::content h1 {
  color: $accent-color;
  font-size: 32px;
  margin: 16px 16px 12px 12px;
}

::content h2 {
  font-size: 22px;
  margin: 12px 16px 8px 16px;
}

::content h3 {
  font-size: 18px;
  margin: 8px 16px 8px 16px;
}

::content h4 {
  margin: 8px 16px 4px 16px;
}

::content li {
  margin: 6px 16px 0 0;
}

::content p {
  margin: 6px 16px 16px 18px;
}

::content ul {
  margin: 8px 16px 16px 0;
  padding: 0 0 0 42px;
}

::content li > p {
  margin: 6px 16px 0 0;
}

@media (max-width: 758px) {
  #card {
    margin: 12px;
  }
}

/** Printer friendly overrides **/
@media print {
  hr {
    margin: 4px 0;
  }

  :host {
    max-width: 72pt * 8.5/*in*/;
  }

  #card {
    margin-bottom: 0;
    margin-top: 0;
  }

  ::content h1 {
    font-size: 24px;
    margin: 8px 16px 8px 12px;
  }

  ::content h2 {
    font-size: 18px;
    margin: 8px 16px 4px 16px;
  }

  ::content h3 {
    font-size: 16px;
    margin: 6px 16px 4px 16px;
  }

  ::content h4 {
    margin: 4px 16px 4px 16px;
  }

  ::content li {
    margin: 4px 16px 0 0;
  }

  ::content p {
    margin: 4px 16px 4px 18px;
  }

  ::content ul {
    margin: 4px 16px 4px 0;
    padding: 0 0 0 42px;
  }

  ::content li > p {
    margin: 4px 16px 0 0;
  }
}