@import "packages/about_me/theme";

#desktop-pic {
  border-radius: 4px;
  max-height: 300px;
  max-width: 411px;
  width: 100%;
}

#desktop-pic-shadow {
  border-radius: 4px;
  max-height: 300px;
  max-width: 411px;
  width: 100%;
}
