@import "packages/about_me/theme";

@media print {
  #snippets-list {
    margin: 0;
    padding: 0;
  }

  #snippets-list > li {
    list-style: none;
  }

  #snippets-list ul > li {
    list-style-type: disc;
  }

  #snippets-list li > p {
    margin-left: 18px;
  }
}
