@import "packages/about_me/theme";

.company {
  font-weight: bold;
}

.date {
  float: right;
}

@media not print {
  .position.no-print {
    display: inline-block;
  }
}

@media print {
  h2 {
    display: inline-block;
  }

  #content-override a, #content-override a:visited {
    text-decoration: none;
  }
}
