@import "packages/about_me/theme";

.chart {
  margin-right: 8px;
}

#languages-chart {
  height: 496px;
}

#platforms-chart {
  height: 208px;
}

@media print {
  .major-skill {
    width: 100%;
  }

  #major-skills {
    display: flex;
    margin-top: -16px;
  }

  #skills-printed {
    text-align: center;
  }

  #tools {
    width: 100%;
  }

  #tools > h3 {
    display: inline-block;
    margin-right: 0;
  }

  #tools > ul {
    display: inline-block;
  }

  #skills-printed li {
    float: left;
    list-style: disc inside;
    margin-left: 16px;
    margin-top: 0;
    min-width: 104px;
    text-align: left;
  }

  #skills-printed ul {
    margin: 0 auto;
    padding-left: 0;
    width: 368px;
  }

  #tools li {
    width: auto;
  }
}
