@import "packages/about_me/theme";

.chart {
  margin-right: 8px;
}

.left {
  float: left;
}

.right {
  float: right;
}

#languages-chart {
  height: 496px;
}

#platforms-chart {
  height: 208px;
}

ul {
  width: 206px;
}

//#skills-left {
//  width: 214px;
//}
//
//#skills-right {
//  width: 214px;
//  //margin-right: 12px;
//}
