@import "packages/about_me/theme";

.chart {
  margin-right: 8px;
}

#languages-chart {
  height: 496px;
}

#platforms-chart {
  height: 208px;
}

@media print {
  .major-skill {
    width: 100%;
  }

  #major-skills {
    display: flex;
  }

  #skills-printed {
    text-align: center;
  }

  #tools {
    width: 100%;
  }

  #tools > h3 {
    display: inline-block;
    margin-right: 0;
  }

  #tools > ul {
    display: inline-block;
  }

  #skills-printed li {
    display: inline-block;
    list-style: none;
    margin-left: 16px;
    margin-top: 0;
    min-width: 86px;
  }

  #skills-printed ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 0;
    width: 314px;
  }

  #tools li {
    width: auto;
  }
}
