$accent-color: #D50000;
$text-color: rgba(0, 0, 0, 0.87);

:host {
  background: #FFFFFF;
  border-radius: 2px;
  display: block;
  font-family: robotoregular, sans-serif;
  margin: 20px auto;
  position: relative;
  width: 100%;
  max-width: 712px;
}

@media (max-width: 752px) {
  :host {
    margin: 20px;
    width: auto;
  }
}

#content {
  height: 100%;
  min-height: 192px;
  padding: 16px;
}

::content h1 {
  color: $accent-color;
  margin: 0 0 16px 0;
}

::content h2 {
  color: $text-color;
  margin: 0 0 12px 0;
}

::content h3, ::content h4 {
  color: $text-color;
  margin: 0 0 8px 0;
}

::content li, ::content p {
  color: $text-color;
}

::content p {
  margin: 0 0 12px 0;
}

::content ul {
  margin: 0;
}