:host {
  background: #FFFFFF;
  display: block;
  font-family: robotoregular, sans-serif;
  margin: 20px auto;
  position: relative;
  width: 100%;
  max-width: 712px;
}

@media (max-width: 752px) {
  :host {
    margin: 20px;
    width: auto;
  }
}

#content {
  height: 100%;
  min-height: 256px;
  padding: 10px;
}