@import "packages/about_me/theme";

body {
  background-color: #EEE;
  margin: 0;
}

#cards {
  max-width: 1488px;
  width: 100%;
}

// Always remember, this number also contains the browser scrollbar
@media (min-width: 1503px) {
  .left {
    clear: left;
    float: left;
  }

  .right {
    clear: right;
    float: right;
  }
}