:link, :visited, h1 {
  margin: 0px;
  text-decoration: none;
}

#name, #name :visited, #name :link {  
  color: rgba(255, 255, 255, 0.87);
  display: block;
  font-family: robotoregular;
  font-size: 108px;
  font-style: normal;
  top: 24px;
  width: 752px;
}

.center {
  margin: 0 auto;
  position: relative;
}

#panel {
  background-color: #e51c23;
  height: 192px;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}